a{
    display: inline;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

#right-side{
    text-align: center;
}

.logo{
    text-align: center;
}

body{
    background-color: #a2a2a1ff;
}

#contact img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: white 1px solid;
}
#right-side img{
    border-radius: 20%;
}